<h2>無駄遣いを変更する</h2>
<%# @user.wastes.each do |waste| %>
<%#= form_with model: waste, url: waste_path do |f| %>
<%#= f.text_field :name %>
<%#= f.text_field :price %>
<%#= f.text_field :reason %>
<%#= f.submit "←を更新する" %>
<%# end %>
<%# end %>


<h2>節約したいものを入力</h2>
<%#= form_with model: @waste, url: wastes_path do |f| %>
  <%#= f.label :節約したいもの %>
  <%#= f.text_field :name %>
  <%#= f.label :１個／1回あたりの値段 %>
  <%#= f.text_field :price %>
  <%#= f.label :節約／辞めたい理由 %>
  <%#= f.text_field :reason %>
  <%#= f.submit "追加する" %>
  <!-- 将来、続けて登録する、と、マイページへ移動する、に分けてボタンを付けたい -->
<%# end %>

