<div class="container">
  <div class="rowt text about-base">
    <p>
      キャッシュレス化が進み、お金の収支について意識が日に日に薄れてきているように思います。
    </p>
    <p>
      しかし多くの人が
    </p>
    <p>
      「欲しいものが買えない」「なぜか通帳の残高が増えない」
    </p>
    <p>
      という感覚を持っているのではないか、と感じていました。
    </p>
    <p>
      どうしたら改善できるのか？自分はどう管理をしていたか？

    </p>
    と振り返った時に支出管理をしていたことを思い出しました。
    <p>

    </p>
    <p>
      ただ支出を管理するだけでは 目的がなく飽きが来て
    </p>
    <p>
      せっかくお金をためる動きをしたのにもったいない、と思い、目標設定も見える化しました。
    </p>
    <p>
      一人でも多くの人に利用いただき、本当に欲しいものが手に入るように、
    </p>
    <p>
      より簡単に近づけるようにサポートとなれば幸いです。
    </p>
  </div>
</div>
