<div class="container">
  <h1>About</h1>
  <div class="row">
    <p>
      キャッシュレス化が進み、お金の収支について意識が薄れてきている、しかし多くの人が「欲しいものが買えない」「なぜか通帳の残高が増えない」という感覚を持っているのではないか、と思っていました。
    </p>
    <p>
      どうしたら改善できるのか？自分はどう管理をしていたか？と振り返った時に支出管理をしていたことを思い出しました。
      ただ支出を管理するだけでは目的がなく飽きが来てせっかくお金をためる動きをしたのにもったいない、と思い、目標設定も見えるかしました。
    </p>
    <p>
      一人でも多くの人に利用いただき、本当に欲しいものが手に入るように、より簡単に近づけるようにサポートさせていただきます。
    </p>
  </div>
</div>