<div class="container">
  <h1>About</h1>
  <div class="row">
    <p>
      キャッシュレス化が進み、お金の収支について意識が薄れてきている、しかし多くの人が「欲しいものが買えない」「なぜか通帳の残高が増えない」という感覚を持っているのではないか、と感じていました。
    </p>
    <p>
      どうしたら改善できるのか？自分はどう管理をしていたか？と振り返った時に支出管理をしていたことを思い出しました。
      ただ支出を管理するだけでは目的がなく飽きが来てせっかくお金をためる動きをしたのにもったいない、と思い、目標設定も見えるかしました。
    </p>
    <p>
      一人でも多くの人に利用いただき、本当に欲しいものが手に入るように、より簡単に近づけるようにサポートさせていただきます。
    </p>
  </div>
</div>



    <p>
      あなたの欲しいものはなんですか？
      憧れの時計、気になっているカバン、行ってみたい旅行先、昔から好きなゲームの新作・・・。
      それが欲しくても手に入らない理由はなんでしょうか？
    </p>
    <p>
      なぜかお金がたまらない、家計簿を書こうとしても挫折した、ついつい買ってしまうものがある、誘惑に負けやすい・・・買いたいけど現実はそんなに甘くない。
    </p>

    <p>
      もしよかったらこのサイトでお金の管理してみませんか？
    </p>

    <p>
      難しいことはしません。
      今まで何気なく使ってしまっていたものをガマンできたらワンクリック、ついつい買ってしまいそうになったらこのページに帰ってきて自制心を保つ、使ってしまっても今まで積み上げた頑張りの中からご褒美として自分に与えられる感覚を持つ、そんなお手伝いをさせていただきます。
    </p>

    <p>
      他の人の頑張りを見て、時に応援をし、欲しいものを共有し合える、そんな場所としてご活用ください。
    </p>

    <p>
      登録は<%= link_to "こちらから", new_user_registration_path %>、もしくはページ一番上からどうぞ。
    </p>
