/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 .logo {
  margin: auto;
  img {
    border-radius: 7px;
    margin-top: 7px;
  }
}

body {
  background-color: #eedcb3;
}


table {
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  // border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
}

.table > thead > tr > th,.table > thead > tr > td,.table > tbody > tr > th,.table > tbody > tr > td,.table > tfoot > tr > th,.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: middle;

}

p, a, td, th {
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.head-group {
  header {
    height: 80px;
    background-color: #825745;
  }

.share_btn {
    display: inline-flex;
    margin: 7px auto;
    justify-content: flex-end;
    width:100%;
  }

.fb-share-button, .twitter, .line-it-button {
    margin-left: 7px;
  }
}


#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}


nav {
  li {
    margin: auto 0;
    a {
      margin: 15px 3px;
      text-align: center;
      padding: 15px 0;
    }
  }
}

.row-btn {
  display: flex;
}

.index-btn {
  text-align: right;
  width: 100%;
}


.mytable {
  width: 95%;
  border: dashed 2px #ffb03f;/*破線*/
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border-radius: 9px;
  margin: 20px auto;
}


.total-base {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 50px auto;
  width: 95%;
}

footer {
  text-align: center;
  background-color: #825745;
  height: 50px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2 {
  font-size: 25px;
}



.top-base {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 0 auto 50px;
  width: 100%;
  text-align: center;
  padding: auto auto;
}

.top-btn {
  width: 50%;
  text-align: center;
}

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}



// 以下ボタンのレイアウト

.btn {
  padding: 5px 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.btn-default {
    background: white; //ボタンの背景色
    color: #8e5237; //ボタンのテキストの色
    border-color: #8e5237;
  }
  .btn-default:hover, .btn-default:focus,
  .btn-default:active, .btn-default:active:focus, .btn-default:active:hover, .btn-default:active.focus,
  .btn-default.active, .btn-default.active:focus, .btn-default.active:hover, .btn-default.active.focus,
  .open > .dropdown-toggle.btn-default,
  .open > .dropdown-toggle.btn-default:hover,
  .open > .dropdown-toggle.btn-default:focus,
  .open > .dropdown-toggle.btn-default.focus,
  .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
  .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
    background: 好きな色; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: 好きな色; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  }


  .btn-success {
    background: white; //ボタンの背景色
    color: blue; //ボタンのテキストの色
    border-color: blue;
  }
  .btn-success:hover, .btn-success:focus,
  .btn-success:active, .btn-success:active:focus, .btn-success:active:hover, .btn-success:active.focus,
  .btn-success.active, .btn-success.active:focus, .btn-success.active:hover, .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success,
  .open > .dropdown-toggle.btn-success:hover,
  .open > .dropdown-toggle.btn-success:focus,
  .open > .dropdown-toggle.btn-success.focus,
  .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus {
    background: blue; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: blue;
  }


  .btn-danger {
    background: white; //ボタンの背景色
    color: #CC0000; //ボタンのテキストの色
    border-color: #CC0000;
  }
  .btn-danger:hover, .btn-danger:focus,
  .btn-danger:active, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger:active.focus,
  .btn-danger.active, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger.active.focus,
  .open > .dropdown-toggle.btn-danger,
  .open > .dropdown-toggle.btn-danger:hover,
  .open > .dropdown-toggle.btn-danger:focus,
  .open > .dropdown-toggle.btn-danger.focus,
  .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover,
  .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus,
  .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus {
    background: #CC0000; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: #CC0000;
  }


  .btn-primary {
    background: #ffb73c; //ボタンの背景色
    color: #452d0d; //ボタンのテキストの色
    border-color: #ffb73c;

  }
  .btn-primary:hover, .btn-primary:focus,
  .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
  .btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary,
  .open > .dropdown-toggle.btn-primary:hover,
  .open > .dropdown-toggle.btn-primary:focus,
  .open > .dropdown-toggle.btn-primary.focus,
  .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #ffd988; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #452d0d; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: #ffb73c;
  }


  .btn-dark {
    background: #CCCCCC; //ボタンの背景色
    color: black; //ボタンのテキストの色
    border-color: black;

  }
  .btn-dark:hover, .btn-dark:focus,
  .btn-dark:active, .btn-dark:active:focus, .btn-dark:active:hover, .btn-dark:active.focus,
  .btn-dark.active, .btn-dark.active:focus, .btn-dark.active:hover, .btn-dark.active.focus,
  .open > .dropdown-toggle.btn-dark,
  .open > .dropdown-toggle.btn-dark:hover,
  .open > .dropdown-toggle.btn-dark:focus,
  .open > .dropdown-toggle.btn-dark.focus,
  .btn-dark.disabled:hover, .btn-dark[disabled]:hover, fieldset[disabled] .btn-dark:hover,
  .btn-dark.disabled:focus, .btn-dark[disabled]:focus, fieldset[disabled] .btn-dark:focus,
  .btn-dark.disabled.focus, .btn-dark[disabled].focus, fieldset[disabled] .btn-dark.focus {
    background: #555555; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #CCCCCC; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: #555555;
  }

