.field_check {
  width: 90%;
  margin: 20px auto;
  text-align: left;
  display: flex;
  margin-top: 20px;
  input{
    width: 10px;
    float: left;
  }
}

.actions {
  margin-top: 20px;
  a {
    width: 90%;
  }
}


