
.user_index {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 0 0 50px;
}

.user_table {
  table {
    width: 90%;
    margin: 10px auto;
  }
  table > thead > tr > th{
    border-bottom: dashed 2px #ffb03f;
  }
  table > tbody > tr > td{
    border-bottom: dashed 2px #ffb03f;
  }
}

.resize {
  font-size: 17px;
  width: 50%;
  text-align: center;
  img{
    width: 100%;
  }
}


.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
// プロフィール画像動かない
.follow {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  p{
    .fix {
      margin-top: 5px;
    }
  }
}

.saving {
  text-align:center;
  h3 {
  margin: 30px auto;
  // ↑これ入らない
  }
}




