
.table-base {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 15px 0 50px;
}

.table-border {
  table {
    width: 90%;
    margin: 10px auto;
  }
  table > thead > tr > th{
    border-bottom: dashed 2px #ffb03f;
    border-top: dashed 2px #ffb03f;
  }
  table > tbody > tr > td{
    border-bottom: dashed 2px #ffb03f;
    border-top: dashed 2px #ffb03f;
  }
}

.total-base {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 20px auto;
  width: 90%;
}

.resize {
  font-size: 17px;
  width: 50%;
  text-align: center;
  img{
    width: 100%;
  }
}

.profile {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  height: 100%;
  vertical-align: center;
  p {
    font-size: 15px;
    margin: 0;
  }
  .profile-image {
    p {
      margin-bottom: 40px;
    }
  }

  .intro {
    p {
      margin-top: 40px;
      font-size: 20px;
    }
  }
}

.profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}
.follow {
  display: flex;
  text-align: center;
  padding: 30px auto;
  flex-direction: column;
  justify-content: center;
  a {
    color: black;
    margin: 10px auto;
  }
}

.follow div{
  display: flex;
  justify-content: space-between;
  text-align: center;

  p {
    color: black;
    margin: 10px auto;
  }
}

.saving {
  text-align:center;
}

.index-btn {
  input {
    width: auto;
  }
}

#cheers_buttons_ {
  margin: 5px auto;
}

.contents {
  margin: 10px auto 0 ;
}

.notice {
  background-color: #BAD3FF;
  color: blue;
  text-align: center;
  border-radius: 9px;
  margin-bottom: 10px;
}
.alert {
  background-color: #FFBEDA;
  color: red;
  text-align: center;
  border-radius: 9px;
  margin-bottom: 10px;
}

.pagination-btn{
  display: flex;
  justify-content: center;
}

.random {
  display: flex;
  justify-content: center;
}
