
.table-base {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 0 0 50px;
}

.table-border {
  table {
    width: 90%;
    margin: 10px auto;
  }
  table > thead > tr > th{
    border-bottom: dashed 2px #ffb03f;
  }
  table > tbody > tr > td{
    border-bottom: dashed 2px #ffb03f;
  }
}

.total-base {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin: 20px auto;
  width: 90%;
}



.resize {
  font-size: 17px;
  width: 50%;
  text-align: center;
  img{
    width: 100%;
  }
}


.profile {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.follow {
  display: flex;
  text-align: center;
  padding: 30px auto;
  a {
  color: black;
  margin: 10px auto;
  }
  p {
    margin: 0 auto;
  }
}

.saving {
  text-align:center;
}

.profile-info {
  margin-right: -30px;
}




