<div class="share_btn">

<p>目標をシェアする</p>

<div class="fb-share-button" data-href="http://cotsutsumi.work" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcotsutsumi.work%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>

<div class="twitter">
<a href="//twitter.com/share" class="twitter-share-button" data-text="欲しいものを買うまでこつつみで支出管理！" data-url="http://cotsutsumi.work" data-lang="ja" data-hashtags="こつつみ" >
 Tweet
 </a>
</div>

<div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="http://cotsutsumi.work" data-color="default" data-size="small" data-count="false" style="display: none;"></div>

</div>
