<div class="share_btn">

  <p>目標をシェアする</p>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v8.0" nonce="k6npIRab"></script>
  <div class="fb-share-button" data-href="https://cotsutsumi.work" data-layout="icon_link" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcotsutsumi.work%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>

  <div class="twitter">
    <a href="//twitter.com/share" class="twitter-share-button" data-text="欲しいものを買うまでこつつみで支出管理！" data-url="https://cotsutsumi.work" data-lang="ja" data-hashtags="こつつみ" >
     Tweet
   </a>
 </div>

 <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://cotsutsumi.work" data-color="default" data-size="small" data-count="false" style="display: none;"></div>

</div>
